* {
  box-sizing: border-box;
}

.chatRoom-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: lightgray;
}

.scores {
  background: #2bc0e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #eaecc6,
    #2bc0e4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #eaecc6,
    #2bc0e4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 1px solid black;
  grid-column: 8/13;
  grid-row: 1/7;
  overflow: scroll;
}

.news {
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f7b733,
    #fc4a1a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 1px solid black;
  grid-column: 8/13;
  grid-row: 7/13;
  overflow: scroll;
}

.messageContainer {
  position: relative;
  /* background: #ece9e6; fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); */

  border: 1px solid black;
  grid-column: 1/8;
  grid-row: 1/13;
  overflow: scroll;
}

.messageContainer button:hover {
  cursor: pointer;
  background-color: rgb(61, 128, 200);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(228, 226, 226, 0.87);
  z-index: 0;
}

/* .inputBox {
  background-color: lightpink;
  border: 1px solid black;
  grid-column: 3/8;
  grid-row: 10/12;
} */
