.news-headline {
  text-align: center;
  color: white;
  font-family: "Impact";
  font-size: 2.3em;
}

@media (max-width: 414px) {
  .news-headline {
    font-size: 1.6em;
  }
}

@media (max-width: 375px) {
  .news-headline {
    font-size: 1.2em;
  }
}
