/* body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
} */

.container-messages {
  border: 1px solid #dedede;
  background-color: #f5981f;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 1px;
  /* margin: 0 auto; */
  max-width: 500px;
  max-height: auto;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  opacity: 0.99;
}

.container-messages:nth-child(odd) {
  margin-left: 50%;
}

.container-messages::after {
  content: "";
  clear: both;
  display: table;
}

.container-messages img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.time-right {
  float: right;
  /* color: rgb(95, 93, 93); */
  color: white;
}

/* .time-left {
  float: left;
  color: #999;
} */
