.navbar {
  color: white;
  z-index: 3;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
  margin: 10px;
  font-size: 1.2rem;
  color: white;
}

.navbar ul li:hover {
  color: rgb(216, 214, 214);
  cursor: pointer;
}

.go-btn {
  border-radius: 25%;
}

.go-btn:hover {
  cursor: pointer;
  color: white;
  background: rgb(221, 105, 11);
}
