.navbar {
  color: white;
  z-index: 3;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
  margin: 10px;
  font-size: 1.1rem;
  color: black;
}

.navbar ul li:hover {
  color: rgb(216, 214, 214);
  cursor: pointer;
}
