.Scores {
  width: 130px;
  height: 125px;
  margin: 5px;
  display: inline-block;
  background-color: #cf5300;
  border-radius: 50%;
}

.Scores:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: #dd722b;
  transition: all 0.4s ease-out;
}

.Scores p {
  margin: 15px;
  padding-left: 10px;
  font-size: 1.3rem;
  color: white;
}

.Scores span {
  margin-left: 11px;
  font-size: 1.3rem;
}

.Scores h5 {
  margin-top: -10px;
  margin-left: 30px;
  padding-left: 3px;
  color: black;
}

.winningTeam {
  color: rgb(21, 231, 21);
}
